body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
.h11{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h4{
    color: gray;
}
.name-color{
    color: rgb(236, 29, 191);
}
section{
    height: 100%;
    padding-bottom: 20px;
    padding-top:50px;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 10%;
    padding-left: 2%;
    text-align: justify;
}
.top-main{
    color: lightslategrey;
    width: 20%;
    float: right;
    margin-right: 5%;
    padding-right: 2%;
}
.half-width img{
    padding: 20px;
    width: 100%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(224, 25, 191), rgb(32, 154, 175));
    padding: 10px 20px;
    border-radius: 20px 60px 40px 40px;
    color: white;
    margin-top: 10em;
}
.top-col{
    color: rgb(42, 46, 42);
}
.back-col{
    height: 100%;
    background-image: linear-gradient(to bottom, #deebbc  0%, #ff99cc 100%)
}
#last-col{
    padding-top:500px;
}
.single-experiance{
    box-shadow: 10px 10px 40px grey ;
    border-radius: 20px;
    height: 500px;
    width: 400px;
    background-color: white;
    margin: 10px;
}
.half-width1{
    width: 420px;
    height: 550px;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;
}
.imgbox{
    height:50%;
    width:80%;
    margin-left:20px;
    margin-top:20px;
    padding: 10px;
} 
.txt{
    padding-top: 10px;
    padding-right: 50px;
}
.limg{
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
}
.last-txt{
    color: white;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 85px;
}
.llink-button{
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg, rgb(26, 65, 68), rgb(161, 160, 69));
    padding: 20px 30px;
    border-radius: 0px 60px 40px 40px;
    color: white;
    margin-left: 800px;
    margin-top: -100px;
}
.cen{
    font-size: 30px; 
}
.livechat{
    height: 180px;
    border: 1px solid transparent;
    background-image: url(Image/Group_33094_1.png);
    background-repeat: no-repeat;
    margin-top: 150%;
    width: 60%;
    margin: 0px auto;
    margin-top: 2000px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    border-radius: 30px;
}
